body {
  margin: 0;
  font-family:"Fjalla One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #6B686C;
  font-size:1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-family: 'Anton', sans-serif;
}
